.hero {
  height: 80vh;
  width: 100%;

  margin-top: 80px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.7)),
    url('../images/carrobrilhando.jpg');

  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  border-bottom: solid 2px var(--yellow-color);
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  /*text-shadow: var(--black-color) 0 0 10px;*/
}

.hero span {
  color: var(--yellow-color);
  /*text-shadow: var(--yellow-color) 0 0 10px;*/

}

.hero p {
  font-size: 1.12rem;
  color: var(--white-color);
}

.btn-agendar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: green;
  padding: 1% 2%;
  border-radius: 25px;
  transition: .3s;
  cursor: pointer;
  gap: 5px;
  color: var(--white-color);
  font-size: 1.5rem;
  will-change: transform;

}

.btn-agendar:hover {
  transform: scale(1.1);
}

.btn-agendar2 img {
  position: fixed;
  right: 5%;
  z-index: 999;
  top: 50%;
  width: 80px;
  transition: all .2s;
  display: none;
}

.btn-agendar2 img:hover{
  transform: scale(1.10);
}

@media (max-width: 768px) {
    .hero {
    height: 50vh;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .btn-agendar{
    display: none;
  }

  .btn-agendar2 img{
    display: block;
  }
}