.servicos {
  padding: 60px 20px;
  background-color: var(--white-color);
  text-align: center;
  border-bottom: solid 2px var(--yellow-color);
}

.servicos h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: var(--black-color);
}

.grid-servicos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card-servico {
  background: var(--white-color);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-servico:hover {
  transform: translateY(-5px);
}

.card-servico h3 {
  color: var(--red-color);
  padding: 10px 20px;
  font-size: 1.5rem;
}

.card-servico-txt {
  font-size: 1.12rem;
  padding: 20px;

}

.tempoevalor {
  padding: 5px 20px;
  background-color: var(--yellow-color);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.tempoevalor {
  font-size: 1.25rem;
  font-weight: bold;
}