.sobre-nos {
  background-color: var(--white-color);
  /* cor clara */
  color: var(--black-color);
  /* exto escuro */
  padding: 60px 20px;
  border-bottom: solid 2px var(--yellow-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-sobre {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.sobre-nos h2 {
  font-size: 2.5rem;
  color: var(--black-color);
  margin-bottom: 20px;
}

.sobre-nos p {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 15px;
}